%container {
  box-sizing: border-box;
  width: 1920px;
  margin: {
    right: auto;
    left: auto;
  }
}

%list-reset {
  margin: {
    top: 0;
    bottom: 0;
  }
  padding-left: 0;
  list-style: none;
}

%title {
  font: {
    weight: $fontWeightBold;
    size: $fontSizeTitle;
  }
  line-height: $lineHeightTitle;
  color: $colorTitle;
}
